<div class="container" ng-controller="createNewExpenseController">
	<p style="height: 50%">
	<h4>CreateNew Expense Here</h4>
	<hr />

<!-- 	<br /> 



	<div style="width: 40%">
		<div class="alert alert-success" id="exp-create-success-alert">
			<button type="button" class="close" data-dismiss="alert">x</button>
			<strong>Success! </strong>
		</div>
	</div>
	
	
	<div style="width: 40%">
		<div class="alert alert-warning" id="exp-create-error-alert">
			<button type="button" class="close" data-dismiss="alert">x</button>
			<strong>Error! </strong>
		</div>
	</div>

	<br />  -->

	<div class="panel panel-default" style="width: 40%">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<span class="lead"><h4>Expense Creation</h4></span>
		</div>
		<div class="tablecontainer">

			<form role="form" ng-submit="addNewExpense();" name="exp" novalidate>
				<table class="table">
					<tr>
						<td>
							<div class="form-group input-group">
								<span class="input-group-addon"><div
										class="fa fa-user fa-fw"></div></span> <input type="text"
									class="form-control" placeholder="username" name="username"
									id="username" ng-model="exp.username" readonly="readonly">

							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="form-group input-group">
								<span class="input-group-addon"><div class="fa fa-inr"></div></span>
								<input type="text" class="form-control" placeholder="Amount"
									id="amount" ng-model="exp.amount"> <span
									class="input-group-addon">.00</span>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="form-group input-group">
								<textarea rows="3" cols="60" class="form-control"
									placeholder="Expense info" id="expinfo" ng-model="exp.expinfo">
								</textarea>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<div align="center">


								<button type="submit" class="btn btn-success" id="createNewExpense">
									<i class="fa fa-edit fa-fw"></i> Create New Expense
								</button>


							</div>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>




</div>