<div  ng-controller="expManagementController">
<br/>
	<p style="height: 50%">
	<h4>Home Page</h4>
	<hr />


<!-- 
	<table class="table table-bordered" style="width : 50%;">

		<thead>
			<tr>
				<th>Id</th>
				<th>Username</th>
				<th>Expense Information</th>
				<th>Amout</th>
			</tr>
		</thead>
		<tbody>


			<tr ng-repeat='exp in expenses'>
				<td>{{exp.id}}</td>
				<td>{{exp.username}}</td>
				<td>{{exp.expinfo}}</td>
				<td>{{exp.amount}}</td>
			</tr>

		</tbody>

		<tbody></tbody>


	</table>
 -->



</div>