<div ng-controller='releaseVersionController'>
	<br />
	<h4>Release Information</h4>
	<hr />

	<div class="col-lg-10">
		<div class="panel panel-success">
			<div class="panel-heading">
				<i class="glyphicon glyphicon-th-list"></i>&nbsp;&nbsp;Features
			</div>
			<div class="panel-body">

				
				<i class="glyphicon glyphicon-bookmark"></i> Current-Release Functionality <br/>
				<ul>
					<li>DashBoard</li>
					<li>User Profile [Update User Profile]</li>
					<li>Menu [Update Menu/Item Details Here]</li>
				</ul>
				
				<br/><br/>
				
					
			</div>
			<div class="panel-footer">Current Release/Build Version 1.01</div>
		</div>
	</div>
</div>